:root {
  --main-text-color: #2E2520;
  --time-text-color: #000000;
  --readmore-text-color: #AB816C;
  --btn-text-color: #FFFFFF;
  --hover-color: #876655;
}

h1, h2, h3, h4 {
  font-family: "Caveat Brush";
  font-weight: 400;
  font-style: normal;
  color: var(--main-text-color);
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: var(--main-text-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.conteiner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .conteiner {
    min-width: 320px;
    max-width: 767px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
    padding-left: 33px;
    padding-right: 33px;
  }
}
@media screen and (min-width: 1280px) {
  .conteiner {
    min-width: 1280px;
    max-width: 1280px;
    padding-left: 19px;
    padding-right: 19px;
  }
}

.btn-register {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-family: "Caveat Brush";
  font-style: normal;
  font-weight: 400;
}
.btn-register--color {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border: 0;
  background-color: #AB816C;
}
@media screen and (min-width: 320px) {
  .btn-register--color {
    width: 145px;
    height: 40px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.27px;
    padding: 9px 46px;
  }
}
@media screen and (min-width: 768px) {
  .btn-register--color {
    font-size: 18px;
    line-height: 1.27px;
    padding: 9px 46px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-register--color {
    width: 158px;
    height: 45px;
    font-size: 24px;
    line-height: 1.25;
    padding: 8px 44px;
  }
}

.btn-register--color:hover,
.btn-register--color:focus {
  background-color: #876655;
}

.btn-send {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-family: "Caveat Brush";
  font-style: normal;
  font-weight: 400;
}
.btn-send--color {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #AB816C;
}
@media screen and (min-width: 320px) {
  .btn-send--color {
    width: 145px;
    height: 40px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.27px;
    padding: 0px 57px;
  }
}
@media screen and (min-width: 768px) {
  .btn-send--color {
    font-size: 18px;
    line-height: 1.27px;
    padding: 0px 57px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-send--color {
    width: 158px;
    height: 45px;
    font-size: 24px;
    line-height: 1.25;
    padding: 0px 67px;
  }
}

.btn-send--color:hover,
.btn-send--color:focus {
  background-color: #876655;
}

.reletive {
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  fill: #2E2520;
}

@media screen and (min-width: 320px) {
  .logo {
    width: 96px;
    height: 44px;
    right: 50%;
    left: 50%;
    top: 8px;
    transform: translate(-50%, 0);
  }
}
@media screen and (min-width: 768px) {
  .logo {
    width: 96px;
    height: 48px;
    top: 36px;
    left: 0px;
    transform: translate(0, 0);
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    width: 158px;
    height: 82px;
    top: 37px;
  }
}
.logo-modal {
  width: 190px;
  height: 85px;
  right: 50%;
  left: 50%;
  top: 25px;
  transform: translate(-50%, 0);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials__img {
  height: 16px;
}
.socials__img:not(:last-child) {
  margin-right: 16px;
}
.socials__img--color {
  fill: #2E2520;
}
.socials__img--color:hover, .socials__img--color:focus {
  fill: #876655;
}

.navigation {
  display: none;
}

@media screen and (min-width: 320px) {
  .burger {
    position: absolute;
    width: 30px;
    height: 16px;
    top: 16px;
    right: 5px;
  }
}
@media screen and (min-width: 768px) {
  .burger {
    top: 32px;
    right: 5px;
  }
}
@media screen and (min-width: 1280px) {
  .burger {
    display: none;
  }
  .navigation {
    display: flex;
    padding-left: 339px;
    padding-top: 58px;
    padding-bottom: 40px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #2E2520;
    gap: 20px;
  }
  .navigation__dec:hover {
    color: #876655;
  }
}
@media screen and (max-width: 767px) {
  .backheader {
    background-image: url(/images/mob/back/bg.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: top;
    background-size: 100% 18%;
  }
}
@media screen and (min-width: 768px) {
  .backheader {
    background-image: url(/images/tablet/back/bg.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: top;
    background-size: 100% 33%;
  }
}
@media screen and (min-width: 1280px) {
  .backheader {
    background-image: url(/images/desc/back/bg.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: top;
    background-size: 100% 37.5%;
  }
}
@media screen and (min-width: 320px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 83px;
  }
  .hero__title {
    text-align: center;
    width: 250px;
    font-size: 30px;
    line-height: 1.26;
    margin-bottom: 8px;
  }
  .hero__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25px;
    margin-bottom: 32px;
  }
  .btn-register__hero {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    align-items: flex-start;
    padding-top: 99px;
  }
  .hero__title {
    text-align: left;
  }
  .btn-register__hero {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 40px;
  }
  .hero__title {
    width: 490px;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 16px;
  }
  .hero__text {
    font-size: 24px;
    line-height: 1.2px;
    margin-bottom: 32px;
  }
  .btn-register__hero {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 1279px) {
  #more {
    display: none;
  }
  #myBtn {
    font-family: "Caveat Brush";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #AB816C;
    background-color: white;
    border: 0;
    padding: 0;
  }
}
@media screen and (min-width: 320px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .about__pic {
    margin-bottom: 16px;
  }
  .about__img {
    width: 100%;
    background-color: transparent;
  }
  .about__title {
    text-align: center;
    font-size: 24px;
    line-height: 2.7;
    margin-bottom: 8px;
    padding-top: 16px;
  }
  .about__text {
    width: 280px;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .about__text {
    width: 336px;
  }
  .about__title {
    text-align: left;
    margin-bottom: 16px;
    padding-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  #myBtn {
    display: none;
  }
  #more {
    display: inline;
  }
  .about {
    justify-content: space-around;
    padding-top: 110px;
    padding-bottom: 40px;
  }
  .about__text--deck {
    display: inline;
  }
  .about__title {
    font-size: 36px;
    line-height: 1.8;
    margin-bottom: 10px;
  }
  .about__text {
    font-size: 18px;
    line-height: 1.22;
    width: 392px;
  }
}
@media screen and (max-width: 1279px) {
  #programmore {
    display: none;
  }
  #programBtn {
    font-family: "Caveat Brush";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #AB816C;
    background-color: white;
    border: 0;
    padding: 0;
  }
}
@media screen and (min-width: 320px) {
  .program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .program__first {
    margin-bottom: 45px;
  }
  .program__second {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    gap: 20px;
  }
  .program__text {
    width: 280px;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
    margin-bottom: 8px;
  }
  .program-donut {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    background: #FEF3E4;
    box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
    border-radius: 50%;
  }
  .program-donut__direction {
    margin-top: 24px;
  }
  .program-donut__title {
    font-size: 18px;
    line-height: 1.27;
    margin-top: 48px;
  }
  .program-donut__text {
    font-size: 14px;
    line-height: 1.21;
    margin-top: 4px;
  }
  .program-donut__svg {
    width: 19px;
    height: 19px;
    margin-top: 8px;
  }
  .program-donut__pic {
    position: absolute;
    width: 75px;
    height: 80px;
    background-color: transparent;
    top: -33px;
    left: 25px;
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
@media screen and (min-width: 768px) {
  .program {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .program__first {
    margin-bottom: 0px;
  }
  .program__second {
    width: 100%;
    justify-content: flex-end;
    padding-top: 50px;
  }
  .program__text {
    width: 336px;
  }
  .program-donut {
    width: 152px;
    height: 152px;
  }
  .program-donut__pic {
    width: 90px;
    height: 90px;
    left: 30px;
    top: -40px;
  }
  .program-donut__direction {
    margin-top: 40px;
  }
  .program-donut__title {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 48px;
  }
  .program-donut__text {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 17px;
  }
  .program-donut__svg {
    width: 25px;
    height: 25px;
    margin-top: 8px;
  }
}
@media screen and (min-width: 1280px) {
  #programBtn {
    display: none;
  }
  #programmore {
    display: inline;
  }
  .program {
    justify-content: space-around;
  }
  .program__second {
    justify-content: center;
    flex-direction: row;
    width: 500px;
    column-gap: 140px;
  }
  .program__text {
    font-size: 18px;
    line-height: 1.22;
    width: 392px;
    margin-bottom: 16px;
  }
  .program-donut {
    width: 180px;
    height: 180px;
  }
  .program-donut__pic {
    width: 100px;
    height: 100px;
    left: 40px;
  }
  .program-donut__direction {
    margin-top: 100px;
  }
}
.review-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.reviwes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding-bottom: 48px;
}
.reviwes__hidden {
  display: none;
}
.reviwes__pic {
  width: 280px;
  height: 280px;
  margin-top: 12px;
}
.reviwes__star {
  width: 136px;
  height: 24px;
  margin-top: 8px;
}
.reviwes__name {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  margin-top: 8px;
}
.reviwes__text {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 32px;
}
.reviwes__text--tablet {
  display: none;
}
.reviwes__text--desc {
  display: none;
}
.reviwes__pagination {
  position: relative;
  font-size: 14px;
  line-height: 1.21;
  color: #AB816C;
}
.reviwes__pagination::after {
  position: absolute;
  content: "";
  width: 35px;
  left: 46px;
  top: 50%;
  border: 1px solid #AB816C;
  transform: rotate(180deg);
}
.reviwes__pagination::before {
  position: absolute;
  content: "";
  width: 35px;
  right: 46px;
  top: 50%;
  border: 1px solid #AB816C;
  transform: rotate(180deg);
}
.reviwes__pagination:hover {
  color: #876655;
}

@media screen and (min-width: 768px) {
  .review-conteiner {
    position: relative;
    padding-top: 50px;
  }
  .reviwes {
    width: 100%;
    padding-bottom: 40px;
  }
  .reviwes__hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .reviwes__hidden--one {
    position: absolute;
    left: 32px;
    top: 70px;
  }
  .reviwes__hidden--two {
    position: absolute;
    right: 32px;
    top: 80px;
  }
  .reviwes__pic {
    width: 336px;
    height: 336px;
    margin-top: 44px;
  }
  .reviwes__text {
    display: none;
  }
  .reviwes__text--tablet {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 32px;
  }
  .reviwes__pic--size {
    width: 151px;
    height: 151px;
  }
}
@media screen and (min-width: 1279px) {
  .review-conteiner {
    padding-top: 75px;
  }
  .reviwes {
    width: 100%;
    padding-bottom: 60px;
  }
  .reviwes__text--tablet {
    display: none;
  }
  .reviwes__text--desc {
    display: none;
  }
  .reviwes__text--desc {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 32px;
  }
  .reviwes__star--desc {
    position: absolute;
    left: 195px;
    bottom: 175px;
  }
  .reviwes__hidden--one {
    left: 110px;
    top: 160px;
  }
  .reviwes__hidden--two {
    right: 100px;
    top: 185px;
  }
  .reviwes__pic {
    width: 394px;
    height: 394px;
    margin-top: 202px;
  }
  .reviwes__name {
    font-size: 16px;
    line-height: 1.25;
  }
  .reviwes__name--desc {
    display: inline-block;
    width: 350px;
  }
  .reviwes__pic--size {
    width: 285px;
    height: 285px;
  }
}
.registration__form {
  background: #FFFFF9;
}
.registration__fool {
  background: #FFFFF9;
  border-radius: 150px 150px 0px 0px;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
}
.registration__time {
  font-weight: 500;
  margin-top: 20px;
}
.registration__address {
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
}
.registration__prise {
  font-weight: 500;
  padding-bottom: 20px;
}
.registration__text {
  font-size: 16px;
  line-height: 1.25;
  border-top: 1px solid rgba(171, 129, 108, 0.5);
}
.registration__name--dec {
  padding: 0;
  background: #FFFFF9;
  border: 0;
  outline: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #AB816C;
  border-bottom: 1px solid #AB816C;
}
.registration__name--dec::placeholder {
  color: rgba(171, 129, 108, 0.5);
}
.registration__btn {
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .registration {
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .registration__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .registration__fool {
    display: block;
    width: 266px;
    padding-bottom: 32px;
  }
  .registration__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .registration__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .registration__text {
    width: 255px;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 20px;
  }
  .registration__name--dec {
    width: 100%;
    margin-bottom: 20px;
  }
  .registration__modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .registration__group {
    width: 260px;
    padding: 0px 8px;
  }
}
@media screen and (min-width: 768px) {
  .about__title {
    text-align: center;
  }
  .registration__fool {
    display: flex;
    align-items: center;
    width: 704px;
    background: #FFFFF9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px;
  }
  .registration__head {
    padding-left: 62px;
    padding-right: 32px;
    height: 180px;
    border-right: 1px solid rgba(171, 129, 108, 0.5);
  }
  .registration__bottom {
    padding-left: 24px;
  }
  .registration__time {
    width: 90px;
  }
  .registration__text {
    border: 0;
    padding-top: 40px;
  }
  .registration__form {
    display: flex;
    flex-direction: row;
    background: #FFFFF9;
  }
  .registration__name--dec {
    margin-bottom: 18px;
  }
}/*# sourceMappingURL=main.css.map */