// BASE

@import "./base/base";
@import "./base/reset";
@import "./base/conteiner";


// COMPONENTS

@import "./components/modal/btn";
@import "./components/modal/logo";
@import "./components/modal/socials";




@import "./components/layouts/header";
@import "./components/layouts/backheader";
@import "./components/layouts/hero";
@import "./components/layouts/about";
@import "./components/layouts/program";
@import "./components/layouts/revies";
@import "./components/layouts/registration";





