
.reletive {
    position: relative;

    width: 100%;
}

.logo {
    position: absolute;

    fill: #2E2520;


}





@media screen and (min-width: 320px) {
    .logo{
        width: 96px;
        height: 44px;

        right: 50%;
        left: 50%;
        top: 8px;

        transform: translate(-50%, 0);
        
       
   
    }
}



@media screen and (min-width: 768px){
    .logo{
        width: 96px;
        height: 48px;

        top: 36px;
        left: 0px;

        transform: translate(0, 0);

      
        
    }
}



@media screen and (min-width: 1280px) {
    .logo{
        width: 158px;
        height: 82px;

     

        top: 37px;
        
        
  
    }

}




.logo-modal {
    width: 190px;
    height: 85px;

 
    top: 25px;

   
}