
:root {
    --main-text-color: #2E2520;
    --time-text-color: #000000;
    --readmore-text-color: #AB816C;
    --btn-text-color: #FFFFFF;
    --hover-color: #876655;
}


h1, h2, h3, h4{
    font-family: 'Caveat Brush';
    font-weight: 400;
    font-style: normal;
    color: var(--main-text-color);
    

}



body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: var(--main-text-color);
}