


.conteiner {
    width: 100%;
    margin-left:auto;
    margin-right: auto;

   
    


    @media screen and (min-width: 320px) {
    min-width: 320px;
    max-width: 767px;

    padding-left: 20px;
    padding-right: 20px;
 
    }

    @media screen and (min-width: 768px){
        min-width: 768px;
        max-width: 1279.98px;

        padding-left: 33px;
        padding-right: 33px;

      
        
    }


    @media screen and (min-width: 1280px){
        min-width: 1280px;
        max-width: 1280px;

        padding-left: 19px;
        padding-right: 19px;

       
    }
}
