



@media screen and (max-width: 1279px) {

      #more {
    display: none;
}

       #myBtn {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #AB816C;
    background-color: transparent;
    border: 0;

    padding: 0;
     
}
}













@media screen and (min-width: 320px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

   
    

    &__pic {
        margin-bottom: 16px;
    }

    &__img {
        width: 100%;

        background-color: transparent;
    }

    &__title {
        text-align: center;
        font-size: 24px;
        line-height: 2.7;

        margin-bottom: 8px;
        padding-top: 16px;
    }

    &__text {
        width: 280px;
          
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 1.25;

        margin: 0;
        margin-bottom: 16px;
    }


}


}






@media screen and (min-width: 768px){
    .about {
        flex-direction: row;
        justify-content: space-between;

        width: 768px;
        padding-top: 70px;
        padding-bottom: 40px;

        &__text {
            width: 336px;
        }

        &__title {
            text-align: left;

            margin-bottom: 16px;
            padding-top: 0;
        }
      
    }
}






@media screen and (min-width: 1280px) {
    #myBtn {
        display: none;
    }

    #more {
        display: inline;
    }


    .about {
        justify-content: space-around;
        padding-top: 110px;
        padding-bottom: 40px;




    &__text--deck {
        display: inline;
    }

    &__title {
        font-size: 36px;
        line-height: 1.8;

        margin-bottom: 10px;
    }

    &__text {
        font-size: 18px;
        line-height: 1.22;

        width: 392px;

    }
    
}

}