







@media screen and (max-width: 767px) {

.backheader {
background-image: url(/images/mob/back/bg.jpg), url(/images/mob/back/bg2.jpg);
 background-repeat: no-repeat, no-repeat;

 background-position: top, right 0 bottom 185px;
    
    background-size: 100% 13%, 100% 39%;
  

}

}


@media screen and (min-width: 768px) {
    .backheader {
        background-image: url(/images/tablet/back/bg.jpg);
        background-repeat: no-repeat, no-repeat;
       
        background-position: top;

        background-size: 100% 28%;
    
    }
    
    }


    @media screen and (min-width: 1280px) {
        .backheader {
            background-image: url(/images/desc/back/bg.jpg);
            background-repeat: no-repeat, no-repeat;
           
            background-position: top;
    
            background-size: 100% 32%;
        
        }
        
        }