







@media screen and (max-width: 767px) {

.backheader {
    width: 100%;
background-image: url(/images/mob/back/bg.jpg), url(/images/mob/back/bg2.jpg);
 background-repeat: no-repeat, no-repeat;

 background-position: top, right 0 bottom 185px;
    
    background-size: 100% 13%, 100% 39%;

    z-index: 100;

    
  

}



}


@media screen and (min-width: 768px) {
    .backheader {
        
        background-image: url(/images/tablet/back/bg.jpg), url(/images/tablet/back/bg2.jpg);
        
        background-repeat: no-repeat, no-repeat;
       
        background-position: top, right 0 bottom 20px;
    
        background-size: 100% 23%, 100% 53%;

        z-index: 100;
    
    }
    
    }


    @media screen and (min-width: 1280px) {
        .backheader {
            background-color: #FFFFF9;
            background-image: url(/images/desc/back/bg.jpg), url(/images/desc/back/bg2.jpg);
           
            background-repeat: no-repeat, no-repeat;
           
            background-position: top, right 0 bottom 10px;
        
            background-size: 100% 30%, 100% 50%;

            z-index: 100;
        
        }
        
        }