
.contact {

    &__text {
        font-size: 16px;
        line-height: 1.25;

        text-align: center;
    }

    &__group {
        color: rgba(171, 129, 108, 0.5);
    }

    &__mail {
        padding: 0;
        border: 0;
        outline: 0;
        width: 100%;


        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;

         color: #AB816C;
         border-bottom: 1px solid #AB816C;
    }

    &__coment {
        padding: 0;
        border: 0;
        outline: 0;


        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;

        height: 20px;

         color: #AB816C;
         border-bottom: 1px solid #AB816C;

         resize: none;
    }

    &__mail::placeholder {
        color: rgba(171, 129, 108, 0.5);
        
    }


    &__coment::placeholder {
        color: rgba(171, 129, 108, 0.5);
        
    }
}

.btn-send--contact {
    display: block;
    margin: auto;
    padding: 9px 0px;
}



@media screen and (max-width: 767px){
    .contact {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;

        width: 100%;

        &__text {
           margin-bottom: 16px;
        }

        &__mail { 
            width: 100%;

            margin-bottom: 20px;
    }

    &__coment {
        font-size: 16px;
        line-height: 1.25;
        width: 100%;

        height: 20px;

        margin-bottom: 32px;
    }
    
}



}