
.contact {

    &__text {
        font-size: 16px;
        line-height: 1.25;

        text-align: center;
    }

  

    &__mail {
        padding: 0;
        border: 0;
        outline: 0;
        width: 100%;


        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    }

    &__area {
        border-bottom: 1px solid #AB816C;
        
    }
    &__coment {
        padding: 0;
        border: 0;
        outline: 0;

       


        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
       

        height: 20px;

         resize: none;
    }

    &__mail::placeholder {
        color: rgba(171, 129, 108, 0.5);
        
    }


    &__coment::placeholder {
        color: rgba(171, 129, 108, 0.5);
        
    }
}

.btn-send--contact {
    display: block;
    margin: auto;
    padding: 9px 0px;
    margin-top: 32px;
}









@media screen and (max-width: 767px){
    .contact {
        width: 280px;

        padding-bottom: 32px;

        &__text {
           margin-bottom: 16px;
        }

        &__mail { 
            width: 100%;
            max-width: 280px;

            margin-bottom: 20px;
            
    }

    &__coment {
        
        width: 100%;
        max-width: 280px;

        

        // margin-bottom: 32px;
    }
    
}

}











@media screen and (min-width: 768px){

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;

       

        &__text {
            margin-bottom: 16px;
         }
      

      

        &__mail { 
            width: 336px;

            
        }

        &__coment {
        width: 336px;

        margin-top: 16px;
        
       }
  
    }

    .btn-send--contact {
        margin-top: 40px;
    }
}


@media screen and (min-width: 1280px){
    .contact {
  
        

        &__text {
            font-size: 18px;
            line-height: 1.22;

            margin-bottom: 16px;
         }

         &__mail { 
            width: 394px;

            
        }

        &__coment {
        width: 394px;

        margin-top: 15px;
        
       }
      

}

.btn-send--contact {
    margin-top: 40px;
    padding-left: 67px;
    padding-right: 67px;
    padding-top: 8px;
    padding-bottom: 7px;

    
}

}