



.conteiner__footer {
    
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .socials__footer {
        margin-bottom: 32px;
    }

.footer {
    position: relative;
    background-size: contain;
   

    &__bottom {
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-bottom: 20px;

        width: 280px;
    }

    &__phone {
        color: #2E2520;

        font-size: 16px;
       line-height: 1.25;
    }

    &__locetion {
        font-size: 16px;
        line-height: 1.25;

        color: #2E2520;

        z-index: 50;
    }
}




@media screen and (min-width: 320px) {
   
 
    .plate__pic {

        position: absolute;
        width: 100px;
        height: 60px;

        bottom: 0px;
        right: -40px;

      

        
       

    }

    .plate__pic--img {
        width: 100px;
        height: 60px;
    }




           
           
    }
   






















@media screen and (max-width: 767px) { 
    .footer {
        &__bottom {
            width: 280px;
        }

        &__phone {
            color: #2E2520;
        }

}
}










@media screen and (min-width: 768px) { 
    .socials__footer {
        margin-top: 32px;
        margin-bottom: 58px;
    }

    .footer {
        &__bottom {
            width: 768px;
        }

        &__phone {
            margin-left: 49px;
         }
     
         &__locetion {
           margin-right: 116px;
         }
}


     .plate__pic {

    position: absolute;
    width: 200px;
    height: 120px;

    bottom: 0;
    right: 0;
   

  }

    .plate__pic--img {
    width: 200px;
    height: 120px;
}    

}










@media screen and (min-width: 1280px) { 
    .socials__footer {
        margin-bottom: 80px;
    }

    .footer {
        &__bottom {
            width: 1280px;
        }

        &__phone {
           margin-left: 145px;
        }
    
        &__locetion {
          margin-right: 321px;
        }

    }

.plate__pic {

    position: absolute;
    width: 300px;
    height: 200px;

    bottom: 0;
    right: 0;
   

  }

    .plate__pic--img {
    width: 300px;
    height: 200px;
}    

}