



.conteiner__footer {
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .socials__footer {
        margin-bottom: 32px;
    }

.footer {
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-bottom: 20px;
    }

    &__phone {
        color: #2E2520;

        font-size: 16px;
       line-height: 1.25;
    }

    &__locetion {
        font-size: 16px;
        line-height: 1.25;

        color: #2E2520;
    }
}




@media screen and (min-width: 320px) {

    .plate__pic {

        position: absolute;
        width: 100px;
        height: 100px;
        right: 0;
       
     
   
        
        background-image:url(/images/mob/plate/pic.png);
        background-repeat: no-repeat;
        
        background-size: contain;
       

        



    }



 @media (main-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .plate__pic {
            position: absolute;
            background-image:url(/images/mob/plate/pic@2x.png);
            
            background-size: contain;
          
           
           
        }
    }
}





















@media screen and (max-width: 767px) { 
    .footer {
        &__bottom {
            width: 280px;
        }

        &__phone {
            color: #2E2520;
        }

}
}


@media screen and (min-width: 768px) { 
    .socials__footer {
        margin-top: 32px;
        margin-bottom: 58px;
    }

    .footer {
        &__bottom {
            width: 768px;
        }

        &__phone {
            margin-left: 49px;
         }
     
         &__locetion {
           margin-right: 116px;
         }


}
}


@media screen and (min-width: 1280px) { 
    .socials__footer {
        margin-bottom: 80px;
    }

    .footer {
        &__bottom {
            width: 1280px;
        }

        &__phone {
           margin-left: 145px;
        }
    
        &__locetion {
          margin-right: 321px;
        }


}
}