.navigation {
    display: none;
}




@media screen and (min-width: 320px) {
    .burger {
        position: absolute;

        width: 30px;
        height: 16px;

        top: 16px;
        right: 0px;
    }
}






@media screen and (min-width: 768px){
    .burger {
        top: 32px;
        right: 0px;
    }
}






@media screen and (min-width: 1280px) {
    .burger {
       display: none;
    }

       .navigation {
        display: flex;
        padding-left: 339px;
        padding-top: 58px;
        padding-bottom: 81px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.22;

        color: #2E2520;
        gap: 20px;

       }
    


}