.navigation {
    display: none;

    &__dec--color {
        color: #2E2520;
    }
}





@media screen and (max-width: 1279px){ 

    .modal-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__menu--btn {
        position: absolute;
        background-color: transparent;
        border: 0;
    
        width: 20px;
        height: 20px;
    }


    &__group {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

  
}



.navigation__modal {
    display: block;
}



.navigation__dec--modal {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;

}

.navigation__dec--modal:hover,
.navigation__dec--modal:focus {
    color: #876655;
}



 
    

@media screen and (min-width: 320px){

    .modal__group { 
        width: 280px;
        padding: 0px 20px;
    }
    

    .reletive {
        width: 280px;
    }


    .backdrop {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(254, 243, 228, 0.9);
        backdrop-filter: blur(2px);

        z-index: 250;
       
    }

    .menu__btn {
        background-color: transparent;
        border: 0;
        padding: 0;

      

        &--open {
            width: 30px;
            height: 16px;

            position: absolute;
            
            top: 15px;
            right: 15px;
        }


        &--close {
            width: 30px;
            height: 16px;

            position: absolute;
            
            top: 0px;
            right: 0px;
        }

     }

    .modal {

        &__menu--btn{
            top: 15px;
            right: 15px;
        
        }
       

       &__group {
      
        width: 320px;
       }

      
       
  
}


.navigation__dec--modal:not(:last-child) {
   margin-bottom: 45px;
}


.donuts__top {
    position: absolute;
    top: -50px;
    left: -34px;
     

      &--img {
      
          width: 138px;
          

          background-color: transparent;
          
      }
  
  }


}
















@media screen and (min-width: 768px){
    .reletive {
        width: 768px;
    }


    .modal {
        width: 100%;
        
       
    

        &__group {
         width: 768px;
        }
 
   
 }

     .menu__btn--open {
        top: 35px;

     }

     .menu__btn--close {
        top: 20px;
        right: 30px;
     }

    .navigation__dec--modal:not(:last-child) {
        margin-bottom: 40px;
     }

     .menu__btn--close--img {
        width: 18px;
        height: 18px;
     }

     .donuts__top {
        position: absolute;
        top: 0;
        left: 250px;
       
        width: 380px;
       
        &--img {     
        width: 380px;
            
        }
    
    }
}






@media screen and (min-width: 1280px) {
    .reletive {
        width: 100%;
    }

  .backdrop {
    display: none;
  }

  .menu__btn {
    display: none;
  }

    .navigation {
        display: flex;
        padding-left: 330px;
        padding-top: 58px;
        padding-bottom: 40px;

        width: 100%;

        gap: 20px;

        &__dec:hover {
            color:#876655;
        }

        &__dec {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.22;
        
              
            }

         
        

       }

       .donuts__top {
        position: absolute;
        top: 0;
        right: -19px;
      
       
        
        width: 760px;
       
        &--img {     
            position: absolute;
      
        width: 760px;
        
        }
    
    }

}