




@media screen and (min-width: 320px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 83px;

        &__title {
            text-align: center;
            width: 250px;

            font-size: 30px;
            line-height: 1.26;

            margin-bottom: 8px;
        
        }

        &__text {
        display: flex;
        justify-content: center;
        align-items: center;

         height: 20px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.25px;

        margin-bottom: 32px;
        }

    }

    .btn-register__hero {
        margin-bottom: 40px;
    }

}






@media screen and (min-width: 768px){
    .hero {
        align-items: flex-start;

        padding-top: 99px;

        &__title {
            text-align: left;
        }

    }

    .btn-register__hero {
        margin-bottom: 20px;
    }
}






@media screen and (min-width: 1280px) {
    .hero {
        padding-top: 40px;

        &__title {
            width: 490px;

            font-size: 64px;
            line-height: 1; 

            margin-bottom: 16px;
        }

        &__text {
            font-size: 24px;
            line-height: 1.2px;

            margin-bottom: 32px;
        }
    }

    .btn-register__hero {
        margin-bottom: 32px;
    }


}