

@media screen and (max-width: 1279px) {

#programmore {
    display: none;

}

#programBtn {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #AB816C;
    background-color: white;
    border: 0;

    padding: 0;
     
}

}













@media screen and (min-width: 320px) {
    .program {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__first {
            margin-bottom: 45px;
        }


        &__second {
            display: flex;
            flex-wrap: wrap;

            width: 280px;
            gap: 20px;
        }



        &__text {
            

        width: 280px;
          
        font-family: 'Montserrat';
         font-size: 16px;
        line-height: 1.25;

        margin: 0;
        margin-bottom: 8px;
       
        }
    }



    .program-donut {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 130px;

        background: #FEF3E4;
        box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
        border-radius: 50%;


        &__direction {
            margin-top: 24px;
        }


    
        
        

        &__title {
            font-size: 18px;
            line-height: 1.27;

            margin-top: 48px;
        }

        &__text {
            font-size: 14px;
            line-height: 1.21;

            margin-top: 4px;
        }

        &__svg {
            width: 19px;
            height: 19px;

            margin-top: 8px;
        }




    }


    .program-donut__pic {
        position: absolute;

        width: 75px;
        height: 80px;

        background-color: transparent;

        top: -33px;
        left: 25px;

        animation-name: spin;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        
    }

    @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
      
        100% {
          transform: rotate(360deg);
        }
      }
}









@media screen and (min-width: 768px){
    .program { 

        &__first {
            margin-bottom: 0px;
        }



        &__text {
            width: 336px;
        }

    }
  
}






@media screen and (min-width: 1280px) {

    #programBtn {
        display: none;
    }

    #programmore {
        display: inline;
    }


    .program { 



        &__text {
            font-size: 18px;
            line-height: 1.22;

            width: 392px;
            margin-bottom: 16px;
        }

    }




}