


.registration {

 

    &__form {
        background: #FFFFF9;
    }

    &__fool {
        background: #FFFFF9;
        border-radius: 150px 150px 0px 0px;
        box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
 
    }

 
    &__time {
        font-weight: 500;
        margin-top: 20px;
        
    }


    &__address {
        font-style: normal;
        font-weight: 500;

        margin-bottom: 20px;
    }

    &__prise {
        font-weight: 500;

        padding-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.25;

        border-top: 1px solid rgba(171, 129, 108, 0.5);
    }

    

    &__name--dec {
        padding: 0;
        background: #FFFFF9;
        border: 0;
        outline: 0;


        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;

         color: #AB816C;
         border-bottom: 1px solid #AB816C;
        
    }

  

    &__name--dec::placeholder {
        color: rgba(171, 129, 108, 0.5);
        
    }


    &__btn {
      margin-top: 12px;

    
    }

    
    

  





}



@media screen and (max-width: 767px){


    .registration {
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
        }

        &__fool {
            display: block;    
            width: 266px;
    
            padding-bottom: 32px;
        }

        &__head {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }


        &__text {
            width: 255px;
            text-align: center;
    
            padding-top: 8px;
            margin-bottom: 20px;
        }

        &__name--dec {
            width: 100%;
 
            margin-bottom: 20px;
            
        }

        &__modal {
           display: flex;
           flex-direction: column;
           width: 100%;
           align-items: center;
           justify-content: center;
        }

        &__group {
            width: 260px;

            padding: 0px 8px;
        }


     



 }

}


@media screen and (min-width: 768px){ 

    .about__title {
        text-align: center;
    }

    .registration {
        padding-bottom: 40px;



        &__fool {
            display: flex;
            align-items: center;
          

            width: 704px;

            background: #FFFFF9;
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            border-radius: 150px;
        }

        &__head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding-right: 32px;
            padding-left: 20px;
            width: 170px;
            

            border-right: 1px solid rgba(171, 129, 108, 0.5);


        }

        &__bottom {
           
            padding-left: 24px;
            padding-bottom: 40px;
        }

        &__time {
            text-align: end;
            width: 90px;

          
        }   

        &__text {
            border: 0;

            width: 200px;

            padding-top: 40px;
            margin-bottom: 16px;
        }

        &__form {
            display: flex;
            flex-direction: row;
            
            background: #FFFFF9;

        }

        &__name--dec { 
            width: 234px;
        }

        &__name--margin {
            margin-bottom: 18px;
        }
       


        &__modal {
            width: 234px;

            margin-right: 60px;
        }
       
        


    }

}






@media screen and (min-width: 1280px){ 
    .registration {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__fool {
           margin-top: 16px;
        }

        &__head {
            height: 200px;
        }
       



        &__fool {
        justify-content: center;
        width: 822px;

        }


        &__time {
            font-size: 20px;
            line-height: 1.2;

            width: 140px;
            
        }
    
    
        &__address {
            font-size: 20px;
            line-height: 1.2;

            margin-bottom: 32px;
        }
    
        &__prise {
            font-size: 20px;
            line-height: 1.2;
        }

        &__text {
            font-size: 18px;
            line-height: 1.22;

            padding-top: 54px;
        }

        &__bottom {
            padding-bottom: 54px;
            padding-left: 32px;
        }
    

}
}
