


.registration {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: #FFFFF9;
    }

    &__fool {
        display: block;
        background: #FFFFF9;
        border-radius: 150px 150px 0px 0px;
        box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);

        width: 266px;

        padding-bottom: 32px;
       
    }

 


    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    

   

    &__time {
        font-weight: 500;

        margin-top: 20px;
        
    }


    &__address {
        font-style: normal;
        font-weight: 500;

        margin-bottom: 20px;
    }

    &__prise {
        font-weight: 500;

        padding-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.25;

        width: 255px;

        text-align: center;

        padding-top: 8px;
        margin-bottom: 20px;

        
        border-top: 1px solid rgba(171, 129, 108, 0.5);
    }

    

    &__name--dec {
        padding: 0;
        background: #FFFFF9;
        border: 0;
        width: 250px;
        outline: 0;


        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;

         color: #AB816C;
         border-bottom: 1px solid #AB816C;
       

         margin-bottom: 20px;
         

        
    }

  

    &__name--dec::placeholder {
        color: rgba(171, 129, 108, 0.5);
        
    }


    &__btn {
      margin-top: 12px;

    
    }

    
    

  





}



@media screen and (max-width: 767px){


    .registration {
        padding-bottom: 32px;


     



 }

}


@media screen and (min-width: 768px){ 

    .about__title {
        text-align: center;
    }

    .registration {



        &__fool {
            display: flex;
            align-items: center;
          

            width: 704px;

            background: #FFFFF9;
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            border-radius: 150px;
        }

        &__head {
            padding-left: 62px;
            padding-right: 32px;
            height: 180px;

            border-right: 1px solid rgba(171, 129, 108, 0.5);


        }

        &__bottom {
            padding-left: 24px;
        }

        &__time {
            width: 90px;

          
        }   

        &__text {
            border: 0;

            padding-top: 40px;
        }

        &__form {
            background: #FFFFF9;
        }
        


    }

    
    



}
