

.reviwes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 280px;


    &__pic {
    width: 280px;
    height: 280px;

    margin-top: 12px;

}

   &__star {
    width: 136px;
    height: 24px;

    margin-top: 8px;
   }

   &__name {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;

    margin-top: 8px;
   }

   &__text {
    font-size: 16px;
    line-height: 1.25;

    text-align: center;

    margin-top: 8px;
   }




} 

